/* Reset */
* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap");
/* main styling */
html,
body {
  font-family: "Oswald", Helvetica, sans-serif;
  background-color: #f5f3f3;
}
/* portfolio container */
.portfolio-container {
  position: relative;
  height: 100%;
}
/* Sidebare */
.sidebar {
  width: 22%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  padding-top: 20px;
}
.sidebar img {
  width: 80px;
  border-radius: 100%;
  border: 2px solid #e5e5e5;
}
.sidebar h2 {
  padding-top: 20px;
}
.sidebar .sidebar-role {
  color: #999b9d;
  padding-top: 10px;
  padding-bottom: 40px;
}
#nav {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
#nav li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgb(237, 236, 236);
  border-top: 1px solid rgb(237, 236, 236);
  margin-top: -1px;
}
#nav li.active {
  background-color: #f5f3f3;
}

li.active a:after {
  background-color: #f4c052;
  display: block;
  position: absolute;
  content: " ";
  right: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
}
#nav a {
  color: black;
  text-decoration: none;
}
/* sidebare brands */
.portfolio-container .sidebar .box-brands {
  display: flex;
  justify-content: center;
  margin: 10%;
}
.portfolio-container .sidebar .box-brands #twitter,
#facebook,
#google {
  margin: 0% 1.2%;
}
.portfolio-container .sidebar .box-brands i {
  background-color: #f5f3f3;
  color: #999b9d;
}
/* Container portfolio */
.container {
  background-color: #fff;
  height: 100%;
  margin-left: 23%;
  position: relative;
}
.container .container1 {
  display: flex;
  align-items: baseline;
}
.container .container1 .header-box {
  color: #fff;
  background-color: #fccd39;
  margin-top: 30px;
  width: 130px;
  padding-left: 70px;
  padding-bottom: 5px;
}
.container .container1 .header-bio {
  width: 200px;
  color: #999b9d;
  margin-top: 45px;
  margin-left: 30px;
}
.container .container2 {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.container .container2 div {
  color: #999b9d;
  padding: 0.5% 1.8%;
}
.container .container2 #all {
  color: #fff;
  background-color: #fccd39;
}
.container .container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.container .container3 img {
  width: 25%;
  padding: 1%;
}
@media (max-width: 768px) {
  .container .container3 img {
    width: 35%;
    padding: 1%;
  }
}
@media (max-width: 426px) {
  .container .container1 .header-box {
    width: 100px;
    font-size: 0.7rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .container .container1 .header-bio {
    font-size: 0.7rem;
    margin-top: 45px;
    margin-left: 15px;
  }
  .container .container2 {
    font-size: 0.7rem;
  }
  .container .container3 img {
    width: 50%;
    padding: 1%;
  }
}
