@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu > h3 {
  width: 300px;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(181, 179, 187, 0.8) 0px 0px 0px 3px;
  border-radius: 5px;
  background-color: white;
  font-size: large;
}

.container {
  border-radius: 5px;
  width: 600px;
  height: 600px;
  background-color: #ddd;
  padding: 7px 6px;
}

#scrollable {
  overflow-y: scroll;
  width: 100%;
  height: 94%;
}

.page-number {
  font-size: 24px;
  margin: 0 0 0 15px;
  padding: 5px;
}

.page-number > span {
  font-family: "Lobster", cursive;
}

.items {
  height: 100px;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 5px 3px 0;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.items > div {
  margin: 3px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100);
h1 {
  font: 2em "Roboto", sans-serif;
  margin-bottom: 40px;
}

.loading {
  display: flex;
  justify-content: center;
}

.loader {
  display: inline-block;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: rgb(131, 125, 125);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
